{% extends "base.html.j2" %}
{% block content %}
  {% include "partials/eyebrow_chip.html.j2" %}
  {% set headline_px = headline_px - 8 %}
  {% include "partials/stacked_headline.html.j2" %}
  {% include "partials/subhead.html.j2" %}
  {% include "partials/panel.html.j2" %}
{% endblock %}
